@font-face {
    font-family: 'misterpixel';
    src: url('https://cdn.glitch.global/ac16c84a-b429-450b-8ee2-7d30522c16f4/MP16REG.ttf?v=1687933494293');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#ticket1{
  font-family: misterpixel;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between boxes as needed */
  height: 100%;
}

.box {
  border: 3px solid rgb(255,0,0);
  background-color: rgb(201, 62, 144);
  position: relative;
  overflow:scroll;
}

.innergrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  
  padding: 3%;
  gap: 10px; /* Adjust the gap between boxes as needed */
  height: 50%;
}

.inner-box {
  border: 3px solid rgb(132, 32, 232);
  background-color: #ffcc00; 
 /* Color of inner boxes */
}
