body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap between boxes as needed */
  height: 100%;
}

.box {
  border: 1px solid #000;
  background-color: #f0f0f0;
  position: relative;
  overflow:scroll;
}

.innergrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 30%;
  padding: 3%;
  gap: 10px; /* Adjust the gap between boxes as needed */
  height: 50%;
}

.inner-box {
  background-color: #ffcc00; 
 /* Color of inner boxes */
}
